# Dependencies
node_modules/

# Nuxt / Vite
.nuxt/
.output/
dist/

# Env
.env
.env.*
!.env.example

# Ключи и секреты (локально)
keys/

# SQLite (локальная БД)
data/*.sqlite
data/*.sqlite-*
data/*.db
!data/.gitkeep

# Logs & OS
*.log
.DS_Store
Thumbs.db

# Tests
coverage/
*.lcov

# IDE
.idea/
*.swp
*.swo

# VS Code (оставьте extensions.json в репо при необходимости)
.vscode/*
!.vscode/extensions.json
